[Unit]
BindsTo=dev-usb-yubikey.device

[Service]
Environment=DISPLAY=:0

ExecStart=sleep 1h
ExecStop=bash -c "sleep 10s; loginctl lock-session"

[Install]
#WantedBy=dev-usb-yubikey.device
