[submodule ".config/polybar/modules/available_packages"]
	path = .config/polybar/modules/available_packages
	url = git@github.com:husjon/polybar_module-available_packages.git
[submodule ".config/polybar/modules/restart_required"]
	path = .config/polybar/modules/restart_required
	url = git@github.com:husjon/polybar_module-restart_required.git
[submodule ".config/polybar/modules/weather"]
	path = .config/polybar/modules/weather
	url = git@github.com:husjon/polybar_module-weather.git
